.text {
    color: red;
}

.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.col-third {
    padding-right: 10px;
    float: left;
    width: 33.3333333%;
}

.title {
    font-size: 30px;
    font-weight: 800px;
    color: red;
}

label {
    font-size: 15px;
    font-weight: 600;
}

input {
    width: 100%;
}

input.right {
    width: 50%;
}